@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Tokumin:wght@700&display=swap');

:root{ 
  --fonte1:'Bebas Neue', sans-serif;
  --cor1 : rgb(0, 1, 48);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fonte1);
}

.logo img {
  width: 15%;
}

main h1 { 
  text-align: center;
  text-transform: uppercase;
  color: var(--cor1);
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7.4rem 0; 
  align-items: center;
  gap: 2rem;
}

.botaoRemessa {
  width: 7%;
  text-decoration: none;
  color: var(--cor1);
  border: 2px solid var(--cor1);
  padding: 1rem;
  border-radius: .5rem;
  text-align: center;
}

.botaoRemessa:hover {
  background-color: var(--cor1);
  color: aliceblue;
}

.botaoEnviadas {
  width: 7%;
  text-decoration: none;
  color: var(--cor1);
  border: 2px solid var(--cor1);
  padding: 1rem;
  border-radius: .5rem;
  text-align: center;
}

.botaoEnviadas:hover {
  background-color: var(--cor1);
  color: aliceblue;
}

footer {
  background-color: var(--cor1);
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer p {
  text-transform: uppercase;
  color: aliceblue;
  margin: 1rem 0;
}

footer p a {
  text-decoration: none;
  color: aliceblue;
  margin: 1rem 0;
}

footer p a:hover {
  color: bisque;
}